html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Calibri";
}

.header-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.header-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.navigation-bar {
    position: absolute;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    color: white;
}

.header-nav a {
    color: white;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    margin-left: 6px;
    margin-right: 6px;
    transition: all 225ms ease-in-out;

}

.header-nav a:hover {
    border-bottom: 4px solid white;
    transition: all 225ms ease-in-out;
}

.header-logo {
    width: 170px;
}

.apply-button {
    background-color: rgb(250, 187, 120);
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    text-decoration: none;

}

.apply-button:hover {
    background-color: rgb(247, 146, 44);
}

.profile-picture {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 16px;
    margin-left: 16px;

}

.manuel-thaler {
    object-position: 81%;
}

.headline-section {
    display: flex;
    justify-content: center;

}

.founders {
    display: flex;
    justify-content: center;
    padding: 32px;

}

.text-center {
    text-align: center;
}

.text-gray {
    color: #777777;
}

.founder-box {
    max-width: 220px;
    margin-left: 16px;
    margin-right: 16px;

}

.bg1 {
    background-color: #F9F9F9;
}

.bg2 {
    background-color: #F1F1F1;
}

.bg-turquoise {
    background-color: darkturquoise;
}

.explain-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 32px;
    margin-left: 32px;
}

.explain-section {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.explain-container-elem {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.footer {
    min-height: 400px;
    background-color: #545454;
    display: flex;
    justify-content: space-between;
}
*/

.footer-row {
    background-color: #545454;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 32px;
    padding-right: 32px;



}

.footer-container {
    color: white;
    padding: 16px;    
    display: flex;
    align-items: center;    
}

.footer-container img {
    object-fit: contain;

}

.footer-container a {
    color: white;
    text-decoration: none;

}
.footer-container a:hover {
    text-decoration: underline;

}

.footer-links {
    display: flex;
}

.social-media-icon {
    width: 32px;
    margin-left: 4px;
    margin-right: 4px;
    height: 32px;

}

.read-more {
    position: absolute;
    bottom: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.read-more img {
    width: 45px;
    object-fit: contain;
}

.apply-section {
   /* background-image: url('img/pexels-m-venter-1659437.jpg');
    background-size: cover;
    background-position: center;
    */
    min-height: 300px;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.apply-button-margin {
    margin-top: 20px;
    margin-bottom: 12px;
}

@media(max-width: 800px) {
    h1 {
        font-size: 2.3em !important; 
        text-align: center;
    }

    body {
        font-size: 1.5em;

    }

    p {
        margin-left: 32px;
        margin-right: 32px;
        text-align: center;
    }

    .hide-mobile {
        display: none;
    }

    .footer-container {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    .footer-row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .explain-section {
        flex-direction: column;
    }

    .founders {
        flex-direction: column;
    }

    .founder-box {
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px;
    }

    .founder-box div {
        min-width: 300px;
    }

    .founder-box h3 {
        min-width: 300px;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
    }

    .explain-picture {
        width: 200px;
        height: 200px;
    }

    .header-logo {
        width: 250px;
    }

    .apply-button {
        font-size: 1.0em;
        padding: 15px;
    }

    .read-more img {
        width: 45px;
        margin-top: 12px;
    }

    .apply-button-margin {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .social-media-icon {
        width: 45px;
        margin-left: 15px;
        margin-right: 15px;
        height: 45px;
    }

    .text-center {
        margin-bottom: 25px;
    }

    .explain-container-elem {
        margin-bottom: 45px;
    }

    .explain-container-elem {
        min-width: 300px;
    }
}